<%= stylesheet_link_tag "albumtracker" %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @artist.label %>
</p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @artist.founded %>
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
