<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @user.fname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.lname %>
</p>

<p>
  <strong>E-mail Address:</strong>
  <%= @user.email %>
</p>


<p>
  <strong>Record Labels:</strong>
  <ul style="margin-top:-10px">
	<% @labels.each do |label| %>
		<li><%= link_to label, label_path(label) %></li>
	<% end %>
	<li style="list-style-type:none;padding-top:10px"><%= link_to 'Add another record label to library?', new_album_path %></li>	
</ul>
</p>

<p>
  <strong>Albums:</strong>
</p>
<ul style="margin-top:-10px">
	<% @albums.each do |album| %>
		<li><%= link_to album.title, album_path(album) %></li>
	<% end %>
	<li style="list-style-type:none;padding-top:10px"><%= link_to 'Add another album to library?', new_album_path %></li>	
</ul>

<p>
  <strong>Artists:</strong>
  <ul style="margin-top:-10px">
	<% @artists.each do |artist| %>
		<li><%= link_to artist, artist_path(artist) %></li>
	<% end %>
	<li style="list-style-type:none;padding-top:10px"><%= link_to 'Add another artist to library?', new_artist_path %></li>	
</ul>
</p>

<%= link_to 'Back', users_path %>
