<%= stylesheet_link_tag "albumtracker" %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>Artist:</strong>
<!--   TODO Parker: Make this conditional -->
  <%= link_to(@artist.name, artist_path(@artist))  %>
</p>

<p>
  <strong>Record Label:</strong>
  <%= @album.label.name unless @album.label.nil? %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @album.genre %>
</p>

<p>
  <strong>Year:</strong>
  <%= @album.year %>
</p>

<p>
  <strong>Added:</strong>
  <%= @album.added %>
</p>

<p>
  <strong>Plays:</strong>
  <%= @album.plays %>
</p>

<%= link_to 'Edit', edit_album_path(@album, @label, @artist) %> |
<%= link_to 'Destroy', @album, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', albums_path %>